*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}
.Game{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.Game__Title{
  margin-bottom: 10px;
  font-size:40px;
  color: white;
  margin: 0 auto;
  margin-left: 10px;
  font-weight: bold;
}

.Game__Board{
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(3, 1fr);
 width: 20vw;
 height: 40vh;
}
.Game__repeat{
  background-color: #61dafb;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
}


.Board__Item button{
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  border: 5px solid black;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.Ptos{
  display: flex;
  justify-content: space-between;
  width: 40vw;
  color:white;
  font-size:30px;

}
.Ptos__ptos{
  display: flex;
  flex-direction: column;
  align-items: center
}



